<html>

<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="container">
        <div class="row form-group" style="margin-top:30px;">
            <div class="col-lg-6">
                <button class="btn btn-block btn-success" id="insert_btn" data-toggle="modal"
                    data-target="#insert_data">INSERT</button>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-block btn-success" id="update_btn">EDIT ALL</button>
                <button class="btn btn-block btn-success" id="save_all_btn" style="display:none;margin-top:0px">SAVE
                    ALL</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success" id="upt_success" style="display:none">

                </div>
                <div class="alert alert-danger" id="upt_error" style="display:none">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Created at</th>
                        </tr>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.email }}</td>
                        <tr>{{ student.Gender}}<td>
                            <td>{{ student.created_at }}</td>
                            <td> <button class="btn btn-block btn-success id=" update-btn">Edit ALL</button>

                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="insert_data" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Insert Student</h4>
                    </div>
                    <div class="modal-body">


                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" name="name" id="ins_name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="text" class="form-control" name="email" id="ins_email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="Gender">Gender:</label>
                            <select name="gender " class="form-control" id="ins_gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-block btn-info btn-insert-data"
                                value="INSERT STUDENT">
                        </div>
                        <div class="form-group">
                            <div class="alert alert-success" id="ins_sucess" style="display: none;">

                            </div>
                            <div class="alert alert-danger" id="ins_error" style="display: none;">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <script>
            $(".btn-insert-data").click(function () {

                var name = $("#ins_name").val();
                var email = $("#ins_email").val();
                var gender = $("#ins_gender").val();
                if (name == "") {
                    $("#ins_error").text("Please Enter Name")
                    $("#ins_error").show()
                    return;
                }
                else if (email == "") {
                    $("#ins_error").text("Please Enter Email")
                    $("#ins_error").show()
                    return;
                }
                else {
                    $(".btn-insert-data").attr("disabled", "disabled");
                    $(".btn-insert-data").text("Inserting... Please Wait..");
                    $.ajax({
                        url: '{% url 'insert' %}',
                        type: 'POST',
                        data: { name: name, email: email, gender: gender }
                    })
                        .done(function (response) {
                            if (response['error'] == false) {
                                $("#ins_error").hide();
                                $("#ins_success").text(response['errorMessage']);
                                $("#ins_success").show();
                                var html_data = "<tr><td>" + response['id'] + "</td><td class='editable' data-type='name'>" + name + "</td><td class='editable' data-type='email'>" + email + "</td><td class='editable' data-type='gender'>" + gender + "</td><td>" + response['created_at'] + "</td><td class='btn-td-block'><button class='btn btn-block btn-delete btn-danger'>DELETE</button></td></tr>";
                                $(".table tbody").append(html_data);
                            }
                            else {
                                $("#ins_success").hide();
                                $("#ins_error").text(response['errorMessage']);
                                $("#ins_error").show();
                            }
                        })
                        .fail(function () {
                            $("#ins_success").hide();
                            $("#ins_error").text("Something Went Wrong!");
                            $("#ins_error").show();
                        })
                        .always(function () {
                            $(".btn-insert-data").removeAttr("disabled");
                            $(".btn-insert-data").text("INSERT STUDENT");
                        })

                }
            })
        </script>
</body>

</html>